* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: "Karla", sans-serif;
    background-color: #E5EFF5;
    font-size: 16px;
    color: hsl(218, 22%, 67%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    height: 100vh;
    max-height: 550px;
    background-color: #fff;
    border-radius: 10px;
}

/******Header*******/

header {
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
}

header h1 {
    color: #2AB2AF;
    margin-bottom: 20px;

}

header h2 {
    color: hsl(71, 73%, 54%);
    margin-bottom: 20px;
}

/******Subscription, Nav******/
main {
    display: flex;
    color: whitesmoke;
    flex-grow: 1;
}

.subscription,
nav {
    width: 50%;
    /* flex-grow: 1; */
    padding: 8% 5%;
}

/******Subscription******/

.subscription {
    background-color: #2AB2AF;
    line-height: 1.9;
    border-radius: 0 0 0 10px;
}

.subscription .price {
    font-size: 34px;
    font-weight: 700;
}

.price span {
    font-size: 16px;
    color: #57e2e0;
}

.subscription button {
    display: block;
    margin-top: 25px;
    width: 100%;
    height: 50px;
    min-height: 25px;
    border: none;
    background-color: hsl(71, 73%, 54%);
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 700;
}

/******Navigation******/

nav {
    background-color: #4BD8D5;
    border-radius: 0 0 10px 0;
}

nav ul {
    margin-top: 3vh;
    font-size: 14px;
}

nav ul li {
    list-style: none;
}

/******Footer*******/

footer {
    position: fixed;
    bottom: 10px;
}

.attribution {
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:533px) {
    .wrapper {
        max-height: max-content;
    }

    main {
        flex-direction: column;
    }
    
    .subscription,
    nav {
       width: 100%;
       border-radius:0;
    }

    .attribution {
        display: none;
    }
}

@media (max-height:480px) {

    .attribution {
        display: none;
    }
}